<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show specified person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${'id = ' + person.getId()}">VALUE</p>
<p th:text="${'email = ' + person.getEmail()}">VALUE</p>
<p th:text="${'address = ' + person.getAddress()}">VALUE</p>
<p th:text="${'perk = ' + person.getPerk()}">VALUE</p>
<p th:text="${'mobile phone number = ' + person.getPhoneNumber()}">VALUE</p>
</body>
</html>
