<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specified children</title>
</head>
<body>

<p th:text="${children.getId() + ': ' + children.getName() + ' ' + children.getSurname()}">VALUE</p>
<p th:text="${children.getAge() + ' ' + children.getEmail()}">VALUE</p>
<br/>
<a th:href="@{/child/{id}/edit(id=${children.getId()})}">Edit children's data</a>
<br/>
<form th:method="DELETE" th:action="@{/child/{id}(id=${children.getId()})}">
    <input type="submit" value="Delete children"/>
</form>

</body>
</html>