<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new track</title>
</head>
<body>

<form th:method="POST" th:action="@{/music}" th:object="${track}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title">
    <div style="color: aqua" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
    <br/>
    <label for="vendorCode">Enter vendor code: </label>
    <input type="text" th:field="*{vendorCode}" id="vendorCode">
    <div style="color: aqua" th:if="${#fields.hasErrors('vendorCode')}" th:errors="*{vendorCode}">VendorCode error</div>
    <br/>
    <label for="feedback">Feedback email: </label>
    <input type="text" th:field="*{feedback}" id="feedback">
    <div style="color : aqua" th:if="${#fields.hasErrors('feedback')}" th:errors="*{feedback}">Feedback error</div>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>
